@import "src/app/_variables.scss";

* {
  font-size: 24px;
}

mat-toolbar {
  background-color: $cardColor;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 25px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  box-shadow: 0px 2px 15px 0px rgba(255,255,255,0.3)
}

.nav-logo {
  font-family: "Dosis ExtraBold", sans-serif;
  font-weight: 700;
  font-size: xx-large;
  margin-right: 30px;
}

.spacer {
  flex: 1 1 auto;
}

